@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f5e050;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fffce8;
}

.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* height: 7vh; */
}

.navigation h1 {
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

.navigation h1 img {
    position: absolute;
    max-width: 40px;
    padding: 0 1rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-image: url('/images/bg-minions.png'); */
    /* background-repeat: repeat-x; */
    background-color: #fffce8;
    /* background-blend-mode: lighten; */

}

#input {
    height: 25vh;
    width: 60%;
    display: block;
    padding: 1.5rem 1rem;
    margin: 1.5rem;
    border-radius: 1rem;
    background-color: #fffce8;
    text-align: center;
    font-size: 1rem;
}

#btn-translate {
    margin: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: var(--primary-color);
}

#output {
    height: 25vh;
    width: 60%;
    padding: 1.5rem 1rem;
    margin: 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
}

.list-item-inline {
    display: inline-block;
}

.footer {
    background-color: var(--primary-color);
    /* justify-content: center; */
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.footer ul li {
    display: inline-block;
    padding: 1rem;
}

.footer i {
    color: black;
    font-size: 35px;
    
}

.footer p {
    padding-bottom: 1rem;
}

.social-links {
    list-style-type: none;
}

.links {
    text-decoration: none;
}