@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.navigation {
    background-color: yellow;
    height: 7vh;
}

#input {
    height: 25vh;
    width: 60%;
    display: block;
    padding: 1rem;
    margin: 1rem;
}

#btn-translate {
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

#output {
    height: 25vh;
    width: 60%;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
}